<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Manajemen Pengguna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="bg-blue-500 text-white py-4">
        <div class="container mx-auto flex justify-between items-center px-4 sm:px-6 lg:px-8">
            <h1 class="text-2xl font-bold">Manajemen Pengguna PW Praktik</h1>

            <!-- Button Hamburger untuk mobile -->
            <div class="block lg:hidden">
                <button id="hamburger" class="text-white focus:outline-none">
                    <i class="fas fa-bars text-2xl"></i>
                </button>
            </div>

            <!-- Navbar Menu untuk Desktop -->
            <div class="hidden lg:flex space-x-4">
                <a href="{{ url_for('main.home') }}" class="text-sm bg-green-500 px-4 py-2 rounded-xl hover:bg-green-600">Kembali ke Beranda</a>
                {% if session.get('user_id') %}
                    <a href="{{ url_for('main.logout') }}" class="text-sm bg-red-500 px-4 py-2 rounded-xl hover:bg-red-600">Logout</a>
                {% endif %}
            </div>

            <!-- Menu Dropdown untuk Mobile -->
            <div id="mobile-menu" class="lg:hidden hidden absolute top-16 right-4 bg-blue-600 text-white shadow-md rounded-lg w-48 p-4 space-y-4">
                <a href="{{ url_for('main.home') }}" class="block text-sm bg-green-500 px-4 py-2 rounded-xl hover:bg-green-600">Kembali ke Beranda</a>
                {% if session.get('user_id') %}
                    <a href="{{ url_for('main.logout') }}" class="block text-sm bg-red-500 px-4 py-2 rounded-xl hover:bg-red-600">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <!-- Main Content -->
    <div class="container mx-auto my-8 flex-grow w-full max-w-screen-lg px-4 sm:px-6 lg:px-8">
        {% block content %}{% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="bg-blue-500 py-3 mt-auto">
        <div class="text-center text-white">
            <h6>Copyright &copy; Alwi (Project PW Praktik 2025)</h6>
        </div>
    </footer>

    <!-- JavaScript untuk Toggle Menu -->
    <script>
        const hamburger = document.getElementById('hamburger');
        const mobileMenu = document.getElementById('mobile-menu');
        
        hamburger.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>


</html>
